.card-carousel {
  @extend .section-padding;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
  }

  &__heading {
    font-size: 24px;

    @media (min-width: $break-large) {
      font-size: 32px;
    }
  }

  &__link {
    flex: 0 0 auto;
    margin-left: 16px;
    font-size: 80%;

    @media (min-width: $break-large) {
      font-size: 100%;
    }
  }

  .swiper-container {
    margin: 0 -24px;

    @media (min-width: $break-large) {
      margin: 0;
    }

    .swiper-slide { 
      
      &:first-of-type {
        margin-left: 24px !important;

        @media screen and (min-width: $break-large) {
          margin-left: 0 !important;
        }
      }
      &:last-of-type {

        .featured {
          margin-right: 32px !important;

          @media screen and (min-width: $break-large) {
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}