.featured-carousel {
  @extend .section-padding;

  .swiper-container {
    margin: 0 -24px;

    @media screen and (min-width: $break-large) {
      margin: 0 -32px;
    }

    .swiper-slide { 
      
      &:first-of-type {
        margin-left: 24px !important;

        @media screen and (min-width: $break-large) {
          margin-left: 32px !important;
        }
      }
      &:last-of-type {

        .featured {
          margin-right: 32px !important;

          @media screen and (min-width: $break-large) {
            margin-right: 62px !important;
          }
        }
      }
    }
  }
}