.featured-carousel {
  @extend .section-padding;

  .swiper-container {
    margin: 0 -24px;
    overflow: visible;

    @media screen and (min-width: $break-large) {
      margin: 0;
    }

    .swiper-slide { 
      
      &:first-of-type {
        margin-left: 24px !important;

        @media screen and (min-width: $break-large) {
          margin-left: 0 !important;
        }
      }
      &:last-of-type {

        .featured {
          margin-right: 32px !important;

          @media screen and (min-width: $break-large) {
            margin-right: 0 !important;
          }
        }
      }
    }

    .swiper-pagination {

      @media screen and (min-width: $break-large) {
        display: none;
      }

      &-bullets-dynamic {
        transform: translate(-50%,32px);
      }
      &-bullet {
        background: white;
      }
      &-bullet-active {
        background: $accent-color;
      }
    }
  }
}