.search-box {
  position: relative;
  margin-bottom: 24px;

  @media (min-width: $break-large) {
    margin-bottom: 32px;
  }

  input {
    border: none;
    line-height: 48px;
    padding: 0 16px 0 58px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 99px;
    font-size: 20px;
    color: $custom-color-1;
  }

  i {
    position: absolute;
    top: 10px;
    left: 16px;
    color: $custom-color-2;
    font-size: 28px;
  }
}